@charset "UTF-8";
/* CSS Document */

/*
  Colour Palette
  - Dark Grey: #333 - rgb(51, 51, 51)
  - Turquoise: #099 - rgb(0, 153, 153)
  - Dark Turquoise: #066 - rgba(0,102,102)
  - Orange: #F60 - rgb(255,102,0)
  - Dark Orange: #963 - rgba(153,102,51,1);
*/
.product {
	padding: 1em;
	text-align: center;
}

.img-flex {
	display: block;
	width: 100%;
}

ul {
	padding: 0;
	margin-bottom: 0.5rem;
}

@media only screen and (min-width: 30em) {
	.product .img-flex {
		margin-bottom: 1rem;
		padding-right: 1rem;
	}
}
	
@media only screen and (min-width: 50em) {
	.product .list-group,
	.description {
		padding-top: 2rem;
	}
}