@charset "UTF-8";
/* CSS Document */

/*
  Colour Palette
  - Dark Grey: #333 - rgb(51, 51, 51)
  - Turquoise: #099 - rgb(0, 153, 153)
  - Dark Turquoise: #066 - rgba(0,102,102)
  - Orange: #F60 - rgb(255,102,0)
  - Dark Orange: #963 - rgba(153,102,51,1);
*/

html {
	font: normal 100%/1.5 'Economica', sans-serif; /* 16px/24px */
	color: rgba(51,51,51,1);
}

h1, h2, h3, h4, h5, h6 {
	font: bold 100%/1.5 'Coustard', serif;
}

h1, h3, h5 {
	color: rgba(0,153,153,1);
}

h2, h4, h6 {
	color: rgba(255,102,0,1);
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl,
blockquote, table, hr {
	margin: 0 0 1rem;
}

.yotta {
	font-size: 2.9126rem;
	line-height: 1.0300;
}

.zetta {
	font-size: 2.5001rem;
	line-height: 1.2000;
}

h1, .exa {
	font-size: 2.1460rem;
	line-height: 1.3979;
}

h2, .peta {
	font-size: 1.8421rem;
	line-height: 1.6286;
}

h3, .tera {
	font-size: 1.5812rem;
	line-height: 1.8973;
}

h4, .giga {
	font-size: 1.3572rem;
	line-height: 1.1052;
}

h5, .mega {
	font-size: 1.1650rem;
	line-height: 1.2876;
}

h6, .kilo {
	font-size: 1.0000rem;
	line-height: 1.5000;
}

small, .milli {
	font-size: 0.8584rem;
	line-height: 1.7475;
}

.micro {
	font-size: 0.7368rem;
	line-height: 2.0358;
}

/* Linked Headings */

h1 a, h1 a:link,
h3 a, h3 a:link,
h5 a, h5 a:link {
	color: #099;
	text-decoration: none;
	border-bottom: 0.1em solid rgba(0,153,153,0.5);
	transition: all 150ms linear;
}

h1 a:visited,
h3 a:visited,
h5 a:visited {
	color: rgba(0,102,102,1);
	border-bottom-color: rgba(0,102,102,1);
}

h1 a:hover, h1 a:focus, h1 a:active,
h3 a:hover, h3 a:focus, h3 a:active,
h5 a:hover, h5 a:focus, h5 a:active {
	color: #F60;
	border-bottom-color: #F60;
}

h2 a, h2 a:link,
h4 a, h4 a:link,
h6 a, h6 a:link {
	color: #F60;
	text-decoration: none;
	border-bottom: 0.1em solid rgba(255,102,0,0.5);
	transition: all 150ms linear;
}

h2 a:visited,
h4 a:visited,
h6 a:visited {
	color: rgba(153,102,51,1);
	border-bottom-color: #963;
}

h2 a:hover, h2 a:focus, h2 a:active,
h4 a:hover, h4 a:focus, h4 a:active,
h6 a:hover, h6 a:focus, h6 a:active {
	color: #099;
	border-bottom-color: #099;
}

/* Linked Text */

a,
a:link {
	color: #099;
	text-decoration: none;
	border-bottom: 0.1em solid rgba(0,153,153,0.5);
	transition: all 150ms linear;
}

a:visited {
	color: rgba(0,102,102,1);
}

a:hover,
a:focus,
a:active {
	color: #F60;
	border-bottom-color: #F60;
}

/* Horizontal Rule */

hr {
	border: 0;
	width: 50%;
	margin-left: 25%;
	height: 2px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,153,153,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,153,153,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,153,153,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,153,153,0.75), rgba(0,0,0,0));
}

/* Lists */

ul {
	list-style-type: none;
}

ul li {
	position: relative;
}

p ul li:before {
	content: "·•·";
	color: #F60;
	position: absolute;
	left: -1.2em;
}

ol {
	counter-reset: item;
}
ol li {
	display: block;
	position: relative;
}

ol li:before {
	content: counter(item) ".";
	counter-increment: item;
	color: #F60;
	position: absolute;
	left: -1.2em;
}

/* Blockquote */

blockquote {
	margin: 0 15% 1.5rem;
	padding: 0.75em;
	background-color: rgba(0,153,153,0.35);
	border-radius: 25px;
}

blockquote p {
	margin-bottom: 0.5rem;
}

blockquote footer {
	text-align: right;
}

/* Text Level */

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

ins {
	text-decoration: none;
	border-bottom: 0.1em solid rgba(255,102,0,1);
}

del, s {
	color: rgb(255,102,0);
}

mark {
	background-color: rgba(0,153,153,0.5);
}

/* Tables */

table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

caption {
	font-style: oblique;
}

th {
	background-color: rgba(0,153,153,0.5);
}

th, td {
	padding: 0.25rem;
	border-bottom: 0.1em dotted rgba(0,153,153,1);
	text-align: center;
}