/*
  Colour Palette
  - Dark green: #060 - rgb(0, 100, 0)
  - Dark red: #600 - rgb(100, 0, 0)
 */

html {
	font: normal 100%/1.5 'Economica', sans-serif; /* 16px/24px */
}

h1, h2, h3, h4, h5, h6 {
	font: bold 100%/1.5 'Coustard', serif;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl,
blockquote, table, hr {
  margin: 0 0 1.5rem;
}

.yotta {
  font-size: 2.9126rem;
  line-height: 1.0300;
}

.zetta {
  font-size: 2.5001rem;
  line-height: 1.2000;
}

h1, .exa {
  font-size: 2.1460rem;
  line-height: 1.3979;
}

h2, .peta {
  font-size: 1.8421rem;
  line-height: 1.6286;
}

h3, .tera {
  font-size: 1.5812rem;
  line-height: 1.8973;
}

h4, .giga {
  font-size: 1.3572rem;
  line-height: 1.1052;
}

h5, .mega {
  font-size: 1.1650rem;
  line-height: 1.2876;
}

h6, .kilo {
  font-size: 1.0000rem;
  line-height: 1.5000;
}

small, .milli {
  font-size: 0.8584rem;
  line-height: 1.7475;
}

.micro {
  font-size: 0.7368rem;
  line-height: 2.0358;
}