---
layout: default
title: Hammerheads
---

<main role="main" class="adopt">
<div class="grid">
	<h1>Hammerhead Sharks</h1>
	<p>All of our Hammerheads ready to be adopted!</p>
	{% include sub-nav.html title="" %}
</div>
<div>
	<ul>
		{% for adopt in site.pages %}
			{% if adopt.type == 'hammerheads' %}
				<li class="inline">
					<a href="{{site.baseurl}}{{adopt.url}}">
						<img src="{{site.baseurl}}/images/{{adopt.image}}" alt="Product Image">
						<p>{{adopt.name}}</p>
					</a>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
</div>

<!-- <img src="{{site.baseurl}}/images/{{clot.image}}" alt=""> -->

</main>