---
layout: default
title: Hammerheads
---

<div class="grid">
	<h1>Hammerhead Sharks</h1>
	<p>All of our Hammerheads ready to be adopted!</p>
	{% include sub-nav.html title="" %}
</div>

<div>
	<ul>
		{% for adopt in site.pages %}
			{% if adopt.type == 'hammerheads' %}
				<li>
					<a href="{{site.baseurl}}{{adopt.url}}">
						<img src="http://placehold.it/100x100/066/099/&text=Product+Image" alt="Product Image">
						<p>{{adopt.name}}</p>
					</a>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
</div>

<!-- <img src="{{site.baseurl}}/images/{{clot.image}}" alt=""> -->