---
layout: default
title: Adopt
---
<main role="main">
<div class="grid">
	<h1>Adoption Store</h1>
	<p>All of our sharks ready to be adopted!</p>
	{% include sub-nav.html title="" %}
</div>

<ul>
	{% for adopt in site.pages %}
		{% if adopt.category == 'adopt' %}
			<li>
				<a href="{{site.baseurl}}{{adopt.url}}">
					<img src="http://placehold.it/100x100/066/099/&text=Product+Image" alt="Product Image">
					<p>{{adopt.name}}</p>
				</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>

<!-- <img src="{{site.baseurl}}/images/{{clot.image}}" alt=""> -->

</main>