---
layout: default
title: Adopt
---
<main role="main">
<div class="grid">
	<h1>Adoption Store</h1>
	<p>All of our sharks ready to be adopted!</p>
	{% include sub-nav.html title="" %}
</div>

<div>
	<ul>
		{% for adopt in site.pages %}
			{% if adopt.category == 'adopt' %}
				<li class="inline">
					<a href="{{site.baseurl}}{{adopt.url}}">
						{% for adopt in site.pages}
						<img src="http://placehold.it/150/066/099/&text=Product+Image" alt="Product Image">
						<p>{{adopt.name}}</p>
					</a>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
</div>

<!-- <img src="{{site.baseurl}}/images/{{clot.image}}" alt=""> -->

</main>