---
layout: default
title: Adopt
---
<main role="main">
<div class="grid">
	<h1>Adoption Store</h1>
	<p>All of our sharks ready to be adopted!</p>
	{% include sub-nav.html title="" %}
</div>

<ol class="unit gutter unit-s-1 unit-m-1-2">
	{% for adopt in site.pages %}
		{% if adopt.type == 'hammerheads' %}
			<li>
				<a href="{{site.baseurl}}{{adopt.url}}">
					<img src="http://placehold.it/200/066/099/&text=Product+Image" alt="Product Image">
					<p>{{adopt.name}}</p>
				</a>
			</li>
		{% endif %}
	{% endfor %}
</ol>
<ol class="unit gutter unit-s-1 unit-m-1-2">
	{% for adopt in site.pages %}
		{% if adopt.type == 'great-whites' %}
			<li>
				<a href="{{site.baseurl}}{{adopt.url}}">
					<img src="http://placehold.it/200/066/099/&text=Product+Image" alt="Product Image">
					<p>{{adopt.name}}</p>
				</a>
			</li>
		{% endif %}
	{% endfor %}
</ol>

<!-- <img src="{{site.baseurl}}/images/{{clot.image}}" alt=""> -->

</main>