# Accessibility Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Rebecka Cole}
- {Marta Traczyk}
- {Melissa Roy}
- {Thalia Bacilio}
- {Katie Situ}
- {Amanda Sparks}

## Tasks

1. Search the site for hammerhead sharks.
2. Find the price of Great White 3
3. Adopt Hammerhead 5

---

## Individual Results & Observations

### {Rebecka Cole} | Only Keyboard

- She completed the task as expected
- She didn't have troubles, but was unsure if she completed the Search task
- She asked "Did it search?"
	- Make Search Results title more noticeable
- She suggested making the product links look more like links and change the layout

### {Marta Traczyk} | Only Voice Over

- She completed the task as expected
- She was unsure if the product would be under the Adopt page
- Great White 1 link seemed to bring her to Home
- Only complaint is going through all navigation buttons

### {Melissa Roy} | Only Voice Over

- Completed tasks as expected
- She had some troubles locating items
- Too much to go through at the top/navigation

### {Thalia Bacilio} | Only Keyboard

- Completed tasks as expected
- She had no troubles completing tasks

### {Katie Situ} | Only Voice Over

- She completed tasks as expected
- She tended to skip over the necessary pages/items
- Was unsure of where search bar was
	- Change "Edit Text"

### {Amanda Sparks}

- She completed the task as expected
- Only complaint is long list when scrolling through items

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- All Voice Over participants found it difficult having to go through entire navigation each time

### Serious, Causes Frustration, May Hinder Completion

- Most participants were unsure when adopting/purchasing an item
	- Make "Check Out" more visible

### Minor, Annoying, Won’t Hinder Completion

- Search Results page not clear
- Search bar's length is awkwardly long
- Product page has long list