---
layout: default
title: Search Results
---

<main role="main">
<div class="grid">
	<h1>Search Results</h1>
	<p>Did you find what you were looking for?</p>
</div>
<div>
<ul>
	{% for adopt in site.pages %}
		{% if adopt.type == 'hammerheads' %}
			<li class="inline">
				<a href="{{site.baseurl}}{{adopt.url}}">
					<img src="http://placehold.it/150/066/099/&text=Product+Image" alt="Product Image">
					{{adopt.name}}
				</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>
</div>
<!-- <img src="{{site.baseurl}}/images/{{clot.image}}" alt=""> -->
</main>