# User Testing Report

User testing was conducted by Anita Chanthavong on March 26, 2014 between the times of 3:00pm and 3:40pm with the following participants:

- Marta
- Thalia
- Melissa

## Tasks

1. Search the site for t-shirts
2. Find the price of T-Shirt 5
3. Purchase Hat 3

---

## Individual Results & Observations

### Marta Traczyk

- She searched the site via search bar as expected…
- She had troubles locating items because they weren't in numerical order
- She asked if she needed to check out the item
- She also asked if she needed to use the search bar for the first task

### Thalia Bacilio

- She did not use the search bar to search the site for t-shirts
- She had no troubles completing the tasks

### Melissa Roy

- She searched the site as expected using the search bar
- She had trouble locating the hats
- She also had troubles finding the items as they were't in numerical order
- She asked how to locate the hats

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Cart needs fixing, items added are not visible

### Serious, Causes Frustration, May Hinder Completion

- Search bar needs to be more inviting, one participant did not use it to search
- Finding hats can be more obvious

### Minor, Annoying, Won’t Hinder Completion

- Participants pointed out products not in numerical order