<html lang="en-ca">
<head>
	<meta charset="UTF-8">
	<title>Product Details</title>
	<link href='http://fonts.googleapis.com/css?family=Economica:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Coustard:400,900' rel='stylesheet' type='text/css'>
	<link href="../css/typography.css" rel="stylesheet">
	<link href="../css/list-group.css" rel="stylesheet">
	<link href="../css/media-object.css" rel="stylesheet">
	<link href="../css/buttons.css" rel="stylesheet">
	<link href="../css/product-list.css" rel="stylesheet">
	<link href="../css/common.css" rel="stylesheet">
	<link href="../css/product-details.css" rel="stylesheet">
	<link href="../css/grid.css" rel="stylesheet">
</head>

<body class="product-details">
	<div class="grid">
		<div class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
			<img class="img-flex" src="http://placehold.it/640x640/&text=Product+Image" alt="Product Image">
		</div>
		<div class="unit unit-s-1 unit-m-1-2 unit-l-1-2">
			<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse congue tempor nisi eget malesuada. Nunc malesuada felis quis aliquet blandit. Suspendisse porttitor consectetur nunc, ut fermentum tellus mattis non. Duis molestie sem risus, ut ultrices nisl dignissim a.</p>
		</div>
		<div class="unit unit-s-1 unit-m-1-2 unit-l-1-2">
			<ul class="list-group">
				<li class="list-group-item list-group-item-inline">
					<img src="http://placehold.it/50x50/066/&text=Alt+View" alt="">
				</li>
				<li class="list-group-item list-group-item-inline">
					<img src="http://placehold.it/50x50/099/&text=Alt-View" alt="">
				</li>
				<li class="list-group-item list-group-item-inline">
					<img src="http://placehold.it/50x50/0CC/&text=Alt-View" alt="">
				</li>
			</ul>
		</div>
		<div class="unit unit-s-1 unit-m-1-2 unit-l-1-2">
			<p>Price: $9.99</p>
			<a class="btn" href="{{site.baseurl}}/cart/">Buy Now!</a>
		</div>
	</div>
	<div class="grid unit unit-s-1">
		<h6>May We Also Suggest...</h6>
		<div class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
			<img src="http://placehold.it/100x100" alt="">
			<h3 class="milli">Product Name</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse congue tempor nisi eget malesuada.</p>
			<a class="btn btn-alt micro" href="#">See More</a>
		</div>
		<div class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
			<img src="http://placehold.it/100x100" alt="">
			<h3 class="milli">Product Name</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse congue tempor nisi eget malesuada.</p>
			<a class="btn btn-alt micro" href="#">See More</a>
		</div>
		<div class="unit unit-s-1 unit-l-1-3">
			<img src="http://placehold.it/100x100" alt="">
			<h3 class="milli">Product Name</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse congue tempor nisi eget malesuada.</p>
			<a class="btn btn-alt micro" href="#">See More</a>
		</div>
	</div>
</body>
</html>