---
layout: default
title: Clothing
---

<div class="grid">
	<h1>Clothing</h1>
	<p>All our items for sale!</p>
	{% include sub-nav.html title="" %}
</div>

<ul>
	{% for clot in site.pages %}
		{% if clot.category == 'clothing' %}
			<li>
				<a href="{{site.baseurl}}{{clot.url}}">
					<img src="http://placehold.it/100x100/066/099/&text=Product+Image" alt="Product Image">
					<p>{{clot.name}}</p>
				</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>

<!-- <img src="{{site.baseurl}}/images/{{clot.image}}" alt=""> -->