<!doctype html>
<html lang="en-ca">
<head>
    <meta charset="UTF-8">
    <title>{{page.title}} · SharkPup</title>
    <meta name="description" content="SharkPup is your home for all shark adoption and knowledge needs.">
    <meta name="keywords" content="shark, fin, pup, baby, adopt, adoption, knowledge, aware, awareness">
    <meta name="author" content="Anita Chanthavong">
    <meta name="copyright" content="Anita Chanthavong 2014">
    <meta name="ICBM" content="N/E = positive, S/W = negative">
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="http://fonts.googleapis.com/css?family=Economica:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Coustard:400,900" rel="stylesheet" type="text/css">
    <link href="{{site.baseurl}}/css/shark-pup.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{site.baseurl}}/images/logo.svg"/>
</head>

<body>
<header role="banner">
    <div class="unit-s-1">
        <a href="{{site.baseurl}}/"><img class="logo" src="{{site.baseurl}}/images/logo.svg" alt="Logo"></a>
    </div>
    <div class="unit-s-1">
        <h1 class="giga">SharkPup</h1>
        <h2 class="milli">learn · adopt · educate</h2>
    </div>
    <div>
        <a href="#nav" class="nav-btn hide-text ease-all" data-state="inactive" title="Navigation"><i class="fa fa-stack"></i><span class="hide-text">Navigation</span></a>
        <nav class="nav nav-top" data-state="collapsed" role="navigation">
            <ul>
                <li><a class="{% if page.url == '/' %}current{% endif %}" href="{{site.baseurl}}/" title="Home" alt="Home">Home</a></li>
                <li><a class="{% if page.url == '/about/' %}current{% endif %}" href="{{site.baseurl}}/about/" title="About" alt="About">About</a></li>
                <li><a class="{% if page.url == '/adopt/' %}current{% endif %}" href="{{site.baseurl}}/adopt/" title="Adopt" alt="Adopt">Adopt</a></li>
            </ul>
        </nav>
    </div>
    <div id="pattern" class="pattern">
        <form action="{{site.baseurl}}/search/" method="get" class="f" role="search">
            <label for="search" class="is-vishidden">Search Whatever</label>     
        <input type="search" id="search" placeholder="Search the site..." />
            <input type="submit" class="btn search-submit" value="Go!">
        </form>
    </div>
    <hr>
</header>

{% if page.showbanner %}
<div class="banner">
  <h2>{{page.bannertext}}</h2>
</div>
{% endif %}

{{content}}

<!-- File names and alt tags important in images for keywords. -->

<footer role="contentinfo" alt="Footer">
    <hr>
    <div class="social unit unit-s-1 unit-m-1-2">
        <h2 class="milli">Connect with us!</h2>
        <ul>
            <li><a href="#" class="ease-all" title="Share on Facebook!" alt="Share on Facebook!"><i class="fa fa-facebook"></i><span class="hide-text">Facebook</span></a></li>
            <li><a href="#" class="ease-all" title="Follow us on Twitter!" alt="Follow us on Twitter!"><i class="fa fa-twitter"></i><span class="hide-text">Twitter</span></a></li>
            <li><a href="#" class="ease-all" title="Follow us on Instagram!" alt="Follow us on Instagram!"><i class="fa fa-instagram"></i><span class="hide-text">Instagram</span></a></li>
        </ul>
    </div>
    <div class="unit unit-s-1 unit-m-1-2">
        <h2 class="milli">Browse</h2>
        <nav>
            <ul>
                <li><a class="{% if page.url == '/' %}current{% endif %}" href="{{site.baseurl}}/" title="Home" alt="Home">Home</a></li>
                <li><a class="{% if page.url == '/about/' %}current{% endif %}" href="{{site.baseurl}}/about/" title="About" alt="About">About</a></li>
                <li><a class="{% if page.url == '/adopt/' %}current{% endif %}" href="{{site.baseurl}}/adopt/" title="Adopt" alt="Adopt">Adopt</a></li>
            </ul>
        </nav>
    </div>
    <div class="">
        <p>SharkPup © 2014 Copyright Anita Chanthavong. All Rights Reserved.</p>
    </div>
</footer>
    <script src="{{site.baseurl}}/js/nav.js"></script>
</body>
</html>