<!doctype html>
<html lang="en-ca">
<head>
    <meta charset="UTF-8">
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="http://fonts.googleapis.com/css?family=Economica:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Coustard:400,900" rel="stylesheet" type="text/css">
    <link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/forms.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/product-details.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/product-list.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/promos.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>

<body>

{{page.url}}
<header>
    <div class="unit-s-1">
        <img class="logo" src="http://placehold.it/640x640/&text=Logo" alt="Logo">
    </div>
    <div class="unit-s-1">
        <h1 class="giga">Shark Aware</h1>
        <h2 class="milli">aware | wear | apparel</h2>
    </div>
    <div>
        <a href="#nav" class="nav-btn hide-text ease-all" data-state="inactive"><i class="fa fa-stack"></i><span class="hide-text">Navigation</span></a>
        <nav class="nav nav-top" data-state="collapsed">
            <ul>
                <li><a class="{% if page.url == '/' %}current{% endif %}" href="{{site.baseurl}}/">Home</a></li>
                <li><a class="{% if page.url == '/about/' %}current{% endif %}"href="{{site.baseurl}}/about/">About</a></li>
                <li><a class="{% if page.url contains '' %}current{% endif %}"href="{{site.baseurl}}/#/">Link 2</a></li>
                <li><a href="{{site.baseurl}}/#/">Link 3</a></li>
                <li><a href="{{site.baseurl}}/#/">Link 4</a></li>
            </ul>
        </nav>
    </div>
    <div id="pattern" class="pattern">
        <form action="#" method="post" class="f">
            <label class="is-vishidden"></label>     
        <input type="search" placeholder="Search the site..." />
            <input type="submit" class="btn search-submit" value="Go!">
        </form>
    </div>
    <hr>
</header>

{{content}}

<footer>
    <hr>
    <div class="social unit unit-s-1 unit-m-1-2">
        <h2 class="milli">Connect with us!</h2>
        <ul>
            <li><a href="#" class="ease-all" title="Share on Facebook!"><i class="fa fa-facebook"></i><span class="hide-text">Facebook</span></a></li>
            <li><a href="#" class="ease-all" title="Follow us on Twitter!"><i class="fa fa-twitter"></i><span class="hide-text">Twitter</span></a></li>
            <li><a href="#" class="ease-all" title="Follow us on Instagram!"><i class="fa fa-instagram"></i><span class="hide-text">Instagram</span></a></li>
        </ul>
    </div>
    <div class="unit unit-s-1 unit-m-1-2">
        <h2 class="milli">Browse</h2>
        <nav>
            <ul>
                <li><a href="{{site.baseurl}}/">Home</a></li>
                <li><a href="{{site.baseurl}}/about/">About</a></li>
                <li><a href="{{site.baseurl}}/#/">Link 2</a></li>
                <li><a href="{{site.baseurl}}/#/">Link 3</a></li>
                <li><a href="{{site.baseurl}}/#/">Link 4</a></li>
            </ul>
        </nav>
    </div>
    <div class="">
        <p>Shark Aware © Copyright Anita Chanthavong. All Rights Reserved</p>
    </div>
</footer>
    <script src="{{site.baseurl}}/js/nav.js"></script>
</body>
</html>